@page
@model StoreApp.Pages.OrderItemsViews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Orders) No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Products) No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OderItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OderItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
